<div class="container-fluid">
	<h4>New Global Posts</h4>
	<div class="row new-posts">
		<% @posts.last(4).each do |post| %>
			<% if post.category_id == 1 %>
				<%= link_to post_path(post), style: 'text-decoration: none;' do %>
					<div class="content-card category-meditation">
						<p>Meditation</p>
						<%= attachment_image_tag post.user, :icon_image, :fill, 50, 50, format: 'jpeg', fallback: "no_icon_image.jpeg", size:'50x50', class: "card-icon" %>
						<%= attachment_image_tag post, :image, :fill, 180, 125, format: 'jpeg', fallback: "no_image.png", size:"180x125" %>
					</div>
				<% end %>
			<% elsif post.category_id == 2 %>
				<%= link_to post_path(post), style: 'text-decoration: none;' do %>
					<div class="content-card category-stretching">
						<p>Stretching</p>
						<%= attachment_image_tag post.user, :icon_image, :fill, 50, 50, format: 'jpeg', fallback: "no_icon_image.jpeg", size:'50x50', class: "card-icon" %>
						<%= attachment_image_tag post, :image, :fill, 180, 125, format: 'jpeg', fallback: "no_image.png", size:"180x125" %>
					</div>
				<% end %>
			<% else %>
				<%= link_to post_path(post), style: 'text-decoration: none;' do %>
					<div class="content-card category-work_out">
						<p>Work-Out</p>
						<%= attachment_image_tag post.user, :icon_image, :fill, 50, 50, format: 'jpeg', fallback: "no_icon_image.jpeg", size:'50x50', class: "card-icon" %>
						<%= attachment_image_tag post, :image, :fill, 180, 125, format: 'jpeg', fallback: "no_image.png", size:"180x125" %>
					</div>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<div class="row">
		<div class="col-md-3 sidebar mb-5">
			<div class="sidebar_icon">
				<%= link_to user_path(current_user.id), style: 'text-decoration: none;' do %>
					<%= attachment_image_tag @user, :icon_image, :fill, 130, 130, format: 'jpeg', fallback: "no_icon_image.jpeg", size:"130x130" %>
				<% end %>
			</div>
			<div class="ml-3">
				<p class="sidebar_name"><%= current_user.name %></p>
				<div class="following-and-followers">
					<p>
						<%= link_to following_user_path(current_user), class: 'text-dark' do %>
							<%= current_user.followings.count %> フォロー
						<% end %>
					</p>
					<p>
						<%= link_to followers_user_path(current_user), class: 'text-dark' do %>
							<%= current_user.followers.count %> フォロワー
						<% end %>
					</p>
				</div>
				<p><%= @user.posts.count %> posts</p>
				<div class="activity-point-box">
					Activity Points:
					<p class="activity-point"><%= @activity_points %> <span>Pts</span></p>
				</div>
			</div>
			<div class="new-post">
				<%= link_to "新規投稿", new_post_path, class: "btn btn-success" %>
			</div>
		</div>
		<div class="col-md-8 timeline">
			<% @following_posts.each do |post| %>
				<% if post.category_id == 1 %>
					<div class="timeline-card category-meditation">
						<%= link_to user_path(post.user), style: 'text-decoration: none;' do %>
							<%= attachment_image_tag post.user, :icon_image, :fill, 50, 50, format: 'jpeg', fallback: "no_icon_image.jpeg", size:'50x50' %>
						<% end %>
						<%= post.user.name %>
						<span class="timeline-card_create-time"><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S')%></span></br>
						<div class="timeline-card_contents">
							<%= link_to post_path(post), style: 'text-decoration: none;' do %>
								<div class="timeline-card_image"><%= attachment_image_tag post, :image, :fill, 216, 150, format: 'jpeg', fallback: "no_image.png", size:"216x150" %></div>
							<% end %>
							<div class="timeline-card_post-body"><%= post.body.truncate(40) %></div>
						</div>
						<p>Meditation</p>
					</div>
				<% elsif post.category_id == 2 %>
						<div class="timeline-card category-stretching">
							<%= link_to user_path(post.user), style: 'text-decoration: none;' do %>
								<%= attachment_image_tag post.user, :icon_image, :fill, 50, 50, format: 'jpeg', fallback: "no_icon_image.jpeg", size:'50x50' %>
							<% end %>
							<%= post.user.name %>
							<span class="timeline-card_create-time"><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S')%></span></br>
							<div class="timeline-card_contents">
							<%= link_to post_path(post), style: 'text-decoration: none;' do %>
								<div class="timeline-card_image"><%= attachment_image_tag post, :image, :fill, 216, 150, format: 'jpeg', fallback: "no_image.png", size:"216x150" %></div>
							<% end %>
								<div class="timeline-card_post-body"><%= post.body.truncate(40) %></div>
							</div>
							<p>Stretching</p>
						</div>
				<% else %>
						<div class="timeline-card category-work_out">
							<%= link_to user_path(post.user), style: 'text-decoration: none;' do %>
								<%= attachment_image_tag post.user, :icon_image, :fill, 50, 50, format: 'jpeg', fallback: "no_icon_image.jpeg", size:'50x50' %>
							<% end %>
							<%= post.user.name %>
							<span class="timeline-card_create-time"><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S')%></span></br>
							<div class="timeline-card_contents">
								<%= link_to post_path(post), style: 'text-decoration: none;' do %>
									<div class="timeline-card_image"><%= attachment_image_tag post, :image, :fill, 216, 150, format: 'jpeg', fallback: "no_image.png", size:"216x150" %></div>
								<% end %>
								<div class="timeline-card_post-body"><%= post.body.truncate(40) %></div>
							</div>
							<p>Work-Out</p>
						</div>
				<% end %>
			<% end %>
		</div>
		<div class="paginate"><%= paginate @posts %></div>
	</div>
</div>











