<%= attachment_image_tag @post.user, :icon_image_id, :fill, 100, 100, format: 'jpeg', fallback: "no_icon_image", size:"100x100" %>
<%= @post.user.name %>
<%= @post.category.name %>
<%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></br>
<%= attachment_image_tag @post, :image %>
<%= @post.body %>
<% if @post.favorited_by?(current_user) %>
	<%= link_to favorite_path(post_id: @post.id), method: :delete do %>
		♥<%= @post.favorites.count %>いいね
	<% end %>
<% else %>
	<%= link_to favorites_path(post_id: @post.id), method: :post do %>
		♡<%= @post.favorites.count %>いいね
	<% end %>
<% end %>

<div>
	<h2>Comments</h2>
	<% @post.post_comments.each do |post_comment| %>
		<%= attachment_image_tag post_comment.user.icon_image_id, :image, :fill, 50, 50, fallback: "no_icon_image", size:"50x50" %>
		<%= post_comment.comment %>
		<% if post_comment.user == current_user %>
			<%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
		<% end %>
	<% end %>
</div>

<div>
	<%= form_with(url:post_post_comments_path(post_id: @post.id), model:[@post, @post_comment], local: true) do |f| %>
		<%= f.text_area :comment, rows:'5', placeholder: "コメントをここに" %>
		<%= f.submit "送信する" %>
	<% end %>
</div>