<div class="container">
	<div class="row post-contents">
		<%= attachment_image_tag @post, :image, :fill, 1110, 624, format: 'jpeg', fallback: "no_image.png" %>
		<div class="post-content-head w-100">
			<%= link_to user_path(@post.user) do %>
				<%= attachment_image_tag @post.user, :icon_image, :fill, 100, 100, format: 'jpeg', fallback: "no_icon_image.jpeg", size:"100x100", class: "icon" %>
			<% end %>
			<div class="name"><%= @post.user.name %></div>
			<% if @post.category.id == 1 %>
				<p class="category-name meditation">瞑想</p>
			<% elsif @post.category.id == 2 %>
				<p class="category-name stretching">ストレッチ</p>
			<% else %>
				<p class="category-name work_out">トレーニング</p>
			<% end %>
			<div class="favorite-button">
				<% if @post.favorited_by?(current_user) %>
					<%= link_to favorite_path(post_id: @post.id), method: :delete, class: 'text-dark' do %>
						♥<%= @post.favorites.count %>いいね
					<% end %>
				<% else %>
					<%= link_to favorites_path(post_id: @post.id), method: :post, class: 'text-dark' do %>
						♡<%= @post.favorites.count %>いいね
					<% end %>
				<% end %>
			</div>
			<p class="post-content_create-time"><%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
		</div>
		<div class="post-content_body">
			<%= @post.body %>
		</div>
	</div>
	<div>
		<% if @post.user == current_user %>
			<p class="edit-post-button"><%= link_to "編集する", edit_post_path(@post) %></p>
		<% end %>
	</div>
	<div class="post-comments row">
		<h2 class="w-100">Comments</h2>
		<div class="col-9 mx-auto">
			<%= form_with(url:post_post_comments_path(post_id: @post.id), model:[@post, @post_comment], local: true) do |f| %>
				<div class="field"><%= f.text_area :comment, rows:'5', placeholder: "コメントを入力してください", style: "resize: none;	height: 100px; width: 600px;" %></div>
				<div class="action"><%= f.submit "送信する", class: "btn btn-sm btn-success" %></div>
			<% end %>
			<div class="posted-comments">
				<% @post.post_comments.each do |post_comment| %>
					<div class="comment">
						<div class="comment-icon">
							<%= link_to user_path(post_comment.user) do %>
								<%= attachment_image_tag post_comment.user, :icon_image, :fill, 50, 50, fallback: "no_icon_image", size:"50x50" %>
							<% end %>
						</div>
						<p class="name"><%= post_comment.user.name %></p>
						<div class="delete-button">
							<% if post_comment.user == current_user %>
								<%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-sm btn-danger" %>
							<% end %>
						</div>
						<p class="body"><%= post_comment.comment %></p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>











